<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<body>
    {% if choice == 'finish1' %}
        <br/>
        <h3 class="delete-confirmation-text">Are you sure that you want to fully complete this task?</h3>
        <a href="{{ url_for('today', choice='finish2', task=task) }}"><button type="button" class="delete-confirmation-box btn btn-danger">Yes</button></a>
        <a href="{{ url_for('today') }}"><button type="button" class="delete-confirmation-box btn btn-light">No</button></a>
    {% endif %}
    <br/>
    <a href="{{ url_for('today', choice='add') }}"><button type="button" class="btn btn-danger add-today-button"><i class="fa-solid fa-plus"></i> Add A Task To Today's Task list</button></a>
    {% if choice == 'add' %}
        <div class="select-today-main">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Select Main Task
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  {% for task in main_list: %}
                    <a class="dropdown-item" href="{{ url_for('today', choice='form', task_name=task) }}">{{ task }}</a>
                  {% endfor %}
              </div>
            </div>
        </div>
    {% endif %}

    {% if choice == 'form' %}
        <div class="row">
          <div class="col-md-6">
            <div class="form_container left-margin">
              <form method="POST" action="{{ url_for('today', choice='done_form') }}" novalidate>
                {{ form.csrf_token }}

                <div>
                    {{ form.name.label(class='artistic_font no-new-line') }}
                    {{ form.name(class='form-control') }}
                </div>
                <div>
                  {{ form.description.label(class='artistic_font no-new-line') }}
                  {{ form.description(class='form-control') }}
                </div>
                <div>
                  {{ form.duration.label(class='artistic_font no-new-line') }}
                  {{ form.duration(class='form-control') }}
                </div>
                <div>
                  {{ form.start_time.label(class='artistic_font no-new-line') }}
                  {{ form.start_time(class='form-control') }}
                </div>
                  <br/>
                <div>
                  {{ form.submit(class="btn btn-warning") }}
                </div>
              </form>
            </div>
          </div>

        </div>
    {% endif %}

    <br/><br/>
    <div class="container">
        <div class="row">
            {% for task in list: %}
                <div class="col-lg-4">
                    <div class="meeting-card-wrapper">
                        <div class="meeting-card meeting-card-margin">
                            <div class="meeting-card-header no-border">
                                <h5 class="meeting-card-title">TASK</h5>
                            </div>
                            <div class="meeting-card-body pt-0">
                                <div class="widget-49">
                                    <div class="widget-49-title-wrapper">
                                        <div class="widget-49-date-primary">
                                            <span class="widget-49-date-day">{{ task['deadline'].split('-')[-1] }}/</span>
                                            <span class="widget-49-date-month">{{ task['deadline'].split('-')[-2] }}</span>
                                        </div>
                                        <div class="widget-49-meeting-info">
                                            <span class="widget-49-pro-title">{{ task['name'] }}</span>
                                            <span class="widget-49-meeting-time">{{ task['start_time'] }} - {{ task['duration'] }}</span>
                                        </div>
                                    </div>
                                    <p>{{ task['description'] }}</p>
                                    <div class="progress">
                                        <div class="progress__fill" style="width: {{ task['progress_bar'] }}%;"></div>
                                        <span class="progress__text">{{ task['progress_bar']}}%</span>
                                    </div>
                                    {% if choice == 'end' or choice == 'increase' or choice == 'decrease' %}
                                        <div class="increase-font widget-49-meeting-action">
                                            <a href="{{ url_for('today', choice='increasing', task=task['name']) }}" class="increase-font btn btn-sm btn-flash-border-primary">Increase</a>
                                        </div>

                                        <div class="increase-font widget-49-meeting-action">
                                            <a href="{{ url_for('today', choice='decreasing', task=task['name']) }}" class="increase-font btn btn-sm btn-flash-border-primary">Decrease</a>
                                        </div>

                                        <div class="increase-font widget-49-meeting-action">
                                            <a href="{{ url_for('edit', choice='custom', task=task['id']) }}" class="increase-font btn btn-sm btn-flash-border-primary">Custom</a>
                                        </div>

                                        <div class="widget-49-meeting-action">
                                            <a href="{{ url_for('today', choice='submit', task=task['name']) }}" class="btn btn-sm btn-flash-border-primary"><button type="button" class="btn btn-success">Submit</button></a>
                                        </div>
                                    {% else %}
                                    <div class="widget-49-meeting-action">
                                        <a href="{{ url_for('today', choice='finish1', task=task['name']) }}" class="btn btn-sm btn-flash-border-primary">Complete</a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="middle">
        <br/><br/><br/><br/>
        <a href="{{ url_for('today', choice='end') }}"><button type="button" class="btn btn-danger end-today-session"></i>End Today's Session</button></a>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
</html>